body{
  margin:0px;
  padding:0px;
}
#menubar{
  width: 70%;
  margin: auto;
}
.menutab{
  background-color: #D4E6F1;
  display: flex;
  height: 50px;
}
.menutab h2{
  flex-basis: 20%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.menutab h2 a{
  color:black;
  text-decoration:none;

}
.search_box{
  flex-basis: 40%;
  margin-top: auto;
  margin-bottom: auto;
}
.search_box{
  text-align: center;
}
.search_box input{
  padding: 5px;
  width: 300px;
  font-size: 15px;
  border-radius: 10px;
  background-image: url("Images/Home/search.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: right;
}
.menu-tabs{
  flex-basis: 50%;
  height: 50px;
}
.menu-tabs ul{
  text-align: center;
  list-style: none;
}
.menu-tabs ul li{
  display: inline;
  padding: 10px 20px;
}
.menu-tabs ul li a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.menu-tabs ul li:hover{
  border: 1px solid;
  border-radius: 20px;
}
#shop-info{
  width: 70%;
  margin: auto;
  background-color: #D4E6F1;
  text-align: center;

}
.cover-photo{
  margin-top: 20px;
  width: 100%;
}
.cover-photo img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}










/* shop menu tab */
.shop-tab{
  display: flex;
  background-color: white;
  height: 50px;
}
.tab-btn{
  flex-basis: 78%;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.tab-btn button{
  width: 100%;
  font-size: 20px;
  padding:10px 20px;
  font-family: 'Times New Roman';
  background-color: none;
  color: black;
  border: none;
}
.tab-btn a{
  flex-basis:100%;
  display: inline;
  cursor: pointer;
}
.active{
  background-color:rgb(119, 93, 93) ;
  border-radius: 5px;
}
.tab-btn button:hover{
  background-color: rgb(119, 93, 93);
  border-radius: 5px;
}


.shop-search{
  background-color: white;
  height: 100%;
  
  
}
.shop-search input{
  margin-top: 13px;
  padding:5px 2px 5px 5px;
  border: 1px solid;
  border-radius: 10px;
  
}










/* HOME CONTENT */
#Home{
  width: 70%;
  margin: auto;

}
.video-container{
  display: flex;
}
.video-container iframe{
  width: 65%;
  background-color: whitesmoke;
}
.video-container img{
  width: 35%;
  height: 400px;
  background-color: whitesmoke;
}
/* table top product list */
.top-product{
  width: 100%;
  float: left;
  text-align: center;
  background-color: whitesmoke;
  overflow-x: auto;
  max-height:500px;
}
.top-product table{
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  width: 80%;
  margin-bottom: 42px;
  height: 150px;
}
.top-product th{
  background-color: grey;
}

.top-product td{
  text-align: center;
  padding: 8px;
}
.top-product tr{
  background-color: white;
}
.top-product tr:hover{
  background-color:darkgray;
}
.top-product table{
  border: 1px solid black;
}
/* new table list */
.new-list{
  background-color:whitesmoke;;
  padding-bottom: 20px;
}
.new-list table{
  border: 1px solid;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
.new-list td{
  text-align: center;
  padding: 5px;

}
.new-list th{
  
  background-color: gray;
}
.new-list tr{
  background-color: white;
}
.new-list tr:hover{
  background-color: darkgray;
}






/*  SHOP CONTENT */

#Shop{
  text-align: center;
  width: 70%;
  margin: auto;
  background-color: silver;
}
/* SHOP CONTENT - inputs */

.add-product{
  width: 100%;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  
}
.add-product .drop-zone {
  width: 20%;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: black;
  border: 4px dashed #009578;
  border-radius: 10px;
  margin: 0px 20px;
}
.add-product .drop-zone--over{
  border-style: solid;
  color: #cccccc;
}
.add-product .drop-zone__input {
  display: none;
}
.add-product .drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}
.add-product .drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}



.price_menu{
  width: 30%;
  display: flex;
}
.price_menu input{
  flex-basis: 50%;
}
.inputs{
  max-width: 60%;;
  padding: 10px;
  align-items: left;
  justify-content: space-between;

}
.inputs input{
  margin-top: 2px;
}
.inputs h3{
  margin-top: 0;
  margin-bottom: 0;
}
#pic_location{
  width: 68%;
}
#pic_name{
  width: 28%;
} 
#category{
  width: 22%;
}
#items{
  width: 51%;
}
#description{
  width: 100%;
}
#stocks{
  width: 22%;
}
#price_menu{
  width: 100%;
}
#update_btn{
  width: 200px;
  height: 100%;
  margin: 0 20px;
  font-size: 30px;
  border-radius: 10%;
}
#update_btn:hover{
  background-color: #cccccc;
  color: darkblue;
}



/* SHOP CONTENT - product list */

.product-list{
  margin-top: 0px;
  width: 90%;
  margin: auto;
  overflow-y: auto;
  max-height: 500px;
  background-color: white;
}

.product-list table{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
.product-list th{
  text-align: center;
  background-color: gray;
}
.product-list th{
  border: 1px solid;
}
.product-list td{
  padding-left: 5px;
  text-align: left;
  border: 1px solid;
  /* max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}
.product-list tr{
  text-align: left;
  background-color: white;
  border-left: 1px solid;
  border-right: 1px solid;
}
.product-list tr:hover{
  background-color: lightgray;
}


.line{
  width: 100%;
  height: 50px;
}







/* PHOTO CONTENT */

#Photos{
  text-align: center;
  width: 70%;
  margin: auto;
  background-color: silver;
}
.tabcontent{
  display: none;
}
.photo-container{
  float: left;
  padding: 10px;
  margin: 20px 2px 0 2px;
  width: 22.2%;
  border-radius: 20px;
  background-color: linen;
  
}
.photo-container img{
  width: 90%;
  height: 150px;
  object-fit: cover;
  transition: 0.5s;
}
.photo-container p{
  border: 2px solid;
  margin-top: 0px;
  margin-bottom: 0px;
}
.photo-container:hover{
  transform: scale(1.1);
  background-color: darkgray;
}
.upload{
  display:flex;
  width: 90%;
}
.upload input,.upload button{
  border-radius: 5px;
}
.upload button:hover{
  background-color: darkgray;

}
.drop-zone {
  max-width: 100%;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}
.drop-zone--over{
  border-style: solid;
}
.drop-zone__input {
  display: none;
}
.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}
.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}






#About{
  text-align: center;
  width: 70%;
  margin: auto;
}
.history_container{
  width: 100%;
  height: 200px;
  background-color: lightgray;
  border-radius: 40px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.history_title{
  font-size: 50px;
  border: 1px solid;
  flex-basis: 40%;
  align-items: center;
}

#history_content{
  flex-basis: 60%;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
}


.management_container{
  width: 100%;
  height: 200px;
  background-color: #cccccc;
  display: flex;
}
.management_title{
  font-size: 50px;
  border: 1px solid;
  flex-basis: 40%;
  align-items: center;
}
.management_content{
  flex-basis: 60%;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.goal_container{
  width: 100%;
  height: 200px;
  background-color: gray;
  display: flex;
}
.goal_title{
  font-size: 50px;
  border: 1px solid;
  flex-basis: 40%;
  align-items: center;
}
.goal_content{
  flex-basis: 60%;
  align-items: center;
}
